p {
    color: blue;
}

body {
    background-color: #FFF9F9;
    cursor: url('wand.png') 25 15, auto;

}

#splat {
    height: 50px;
    width: 50px;
    position: absolute;
}


h4 {
    text-align: center;
    font-family: 'Galada';
    font-size: 50px;
    color: #DB7F8E;
    margin-top: 15px;
}


#game-container {
    border: 1px solid black;
    background-color: #8ACEF3;
    position: fixed;
    width: 800px;
    height: 650px;
    left: 45%;
    top: 100px;
    margin-left: -300px; 
}


#unicorn-holes {
    /* Grid Fallback */
    clear: both;
    display: flex;
    flex-wrap: wrap;

    /*Browser support grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

#1, #2, #3, #4, #5, #6, #7, #8, #9 {
    /* Demo-Specific Styles */
    line-height: 22px;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;

    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
}

#unicorn, #cloud-image {
    position: absolute;
}

#unicorn {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.images-container {
    position: absolute;
    width: 100%;
    height: 100%;
}